<div class="container col-md-8 aparecerDesdeDerecha">
  <div class="row">

    <h3>Planilla de Habilidades</h3>

      <div>
        <div class="habilidad1" *ngIf="habilidad1">
          <h6>{{ habilidad1.titulo }}</h6>
          <p>{{ habilidad1.descripcion }}</p>
        </div>

        <div class="habilidad2" *ngIf="habilidad2">
          <h6>{{ habilidad2.titulo }}</h6>
          <p>{{ habilidad2.descripcion }}</p>
        </div>

        <div class="habilidad3" *ngIf="habilidad3">
          <h6>{{ habilidad3.titulo }}</h6>
          <p>{{ habilidad3.descripcion }}</p>
        </div>

        <div class="habilidad4" *ngIf="habilidad4">
          <h6>{{ habilidad4.titulo }}</h6>
          <p>{{ habilidad4.descripcion }}</p>
        </div>

    </div>
  </div>
</div>
